* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
main {
    width: 100%;
    height: calc(100vh - 100px);
}
footer {
    width: 100%;
    height: 100px;
    background-color: #282828;
}
a {
    color: #ccc;
    text-decoration: none;
    display: block;
}
ul li {
    list-style-type: none;
}
.container.main {
    display: flex;
}
/* regole main */
/* colsx */
.colsx {
    width: 250px;
    height: calc(100vh - 100px);
    background-color: black;
    color: #ccc;
}
.container.logo-nav {
    height: calc(100vh - 75vh);
    mn-heighti: 200px;
}
.colsx .container.logo-nav ul li.here {
    border-left: 3px solid  #8aca2c;
}
.colsx img {
    width: 170px;
    height: auto;
    padding: 20px;
}
.colsx ul li {
    margin-bottom: 15px;
    padding: 0 20px;
}
.colsx ul li a i {
    width: 25px;
    height: 25px;
    font-size: 25px;
    margin-right: 5px;
    vertical-align: middle;
}
.container.sez-playlist {
    height: calc(100vh - 25vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
}
#playlist {
    overflow: auto;
}
#playlist h3 {
    margin-bottom: 10px;
    color: #fff;
}
#new-playlist {
    margin-bottom: 10px;
}
#new-playlist .btn.plus {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}
#new-playlist a {
    display: flex;
    color: #000;
    display: flex;
    align-items: center;
}
#new-playlist a .btn.plus i {
    font-size: 22px;
}
#playlist .playlst-name {
    padding: 10px 0;
}
#download div:first-child {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}
#download div:last-child {
    padding: 10px 0;
}
/* coldx */
.coldx {
    width: calc(100vw - 250px);
    height: calc(100vh - 100px);
    overflow-y: auto;
    background-color: #141922;
}
#calltoaction {
    height: 100px;
    width: 100%;
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    align-items: center
}
.btn.upgrade {
    margin-right: 10px;
    background-color: transparent;
    border: 2px solid #fff;
    padding: 15px 15px;
    border-radius: 30px;
}
.coldx nav ul {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
}
.coldx nav ul li a {
    line-height: 56px;
    height: 50px;
}
.coldx nav ul li div.here {
    border-top: 3px solid #8aca2c;
    width: 40px;
    margin: 0 auto;
}
/* ascoltate di recente, create, popular artist */
#recenti, #created, #popular-artist {
    padding: 20px;
    color: #fff;
}
.row {
    margin-top: 20px;
    display: flex;
    /* flex-wrap: wrap; */
}
.row {
    width: 100%;
}
.row .album-song {
    text-align: center;
    width: calc(100% / 7 );
    margin-right: 20px;
}
#recenti img, #created img, #popular-artist img {
    width: 100%;
    height:  auto;
    margin-bottom: 10px;
}
.row .album-song h5, #created h5, #popular-artist h5 {
    color: #ccc;
    margin-top: 10px;
}

/* popular artist */
#popular-artist .album-song img {
    border-radius: 50%;
}
/* footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: #fff;
}
/* container left */
footer .container.left {
    display: flex;
    align-items: center;
}
footer .player-left img {
    width: 45px;
    height: auto;
}
footer #player-title {
    margin: 0 30px 0 10px;
}
footer #player-title h6 {
    color: #ccc;
    font-size: 10px;
}
footer #player-action a {
    display: inline;
}
footer #player-action  i {
    margin-right: 10px;
}
/* container center */
footer .player-center {
    background-color: blue;
    border: 3px solid green
}
footer .player-center #row-up i {
    margin: 0 20px;
    font-size: 24px;
}






/* container right */
footer .player-right {
    height: 60px;
    /* width: 200px; */
    background-color: red;
    border: 3px solid green
}